{{template "base" .}} <!-- include the content of the base layout -->

{{define "content"}} <!-- content will be rendered on base template -->
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is home page</h1>
            <p>This is some text</p>
            <p>Go says: {{index .StringMap "test"}}</p>
        </div>
    </div>
</div>
{{end}}